

/* Style for dropdown menu */
.dropdown {
  float: left; /* Make dropdowns float to the left */
  overflow: hidden; /* Hide overflow content */
  border: 2px solid #69533C; /* Add border style */
  border-radius: 10px; /* Add border radius */
}

/* Style for dropdown button */
.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 10px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Change background color on hover for navbar links and dropdown button */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Style for dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #69533C;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Add box shadow */
  z-index: 1;
  border: 2px solid #69533C; /* Add border style */
  border-radius: 10px; /* Add border radius */
}

/* Style for dropdown content links */
.dropdown-content a {
  float: none;
  color: black;
  padding: 16px 16px;
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5); /* Add transparent border */
}

/* Remove border from last link in dropdown content */
.dropdown-content a:last-child {
  border-bottom: none;
}

/* Change background color on hover for dropdown content links */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Display dropdown content on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* General styles for body and HTML */
body, html {
  height: 100%;
  margin: 0;
  font-family: Andale Mono, monospace;
}

/* Styles for logo image */
img.Logo {
  border-radius: 300px;
  width: 20px;
}

/* Styles for Instagram icon image */
img.insta {
  width: 20px;
  border-radius: 5px;
}

/* Styles for "Back to Top" button */
#myBtn {
  display: none;
  position: fixed;
  bottom: 15px;
  left: 20px;
  z-index: 1;
  font-size: 20px;
  border: none;
  outline: none;
  background-color: #69533C;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 300px;
}

#myBtn:hover {
  background-color: white;
  color: black;
}

/* Box sizing property for all elements */
* {
  box-sizing: border-box;
}

/* Styles for navigation bar */
.navbar {
  overflow: hidden;
  background-color: #69533C;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
  float: left;
  font-size: 15px;
  color: white;
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
}

/* Change background color on hover for navbar links and dropdown button */
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #00000087;
}

/* Styles for columns */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  background-color: WHITE;
  height: 250px;
}

.column a {
  float: none;
  color: black;
  padding: 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.column a:hover {
  background-color: #9997a163;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout for columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    height: auto;
  }
}

/* Styles for right-aligned link inside the navigation bar */
.navbar a.split {
  float: right;
  color: white;
}

/* Sticky navigation */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

/* Styles for footer links */
.footer a {
  color: #FFF7C2;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

/* Styles for footer */
.footer {
  background-color: #69533C;
  padding: 20px;
  text-align: center;
}

/* Styles for contact information */
.contact-info {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.contact-info p {
  margin: 5px 10px;
}

/* Responsive layout for contact information */
@media (max-width: 600px) {
  .contact-info {
    flex-direction: column;
  }
}

.footer p {
  text-align: center;
  color: white;
}

.footer .copyright {
  margin-top: 10px;
}
